<%- include('header') -%>
  <body>
    <div id="root"><%- initialMarkup -%></div>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <script src="/bundle.js"></script>
  </body>
</html>
